// Node
node_modules

// Marmalade Builds
.marmalade
public/feed.json
public/manifest.webmanifest

// Next Builds
.next
out

// Next Env (See types.d.ts)
next-env.d.ts
!config/types/next-env.d.ts

// Repo
.idea